<div class="w-screen h-full mx-[5rem] flex flex-col overflow-hidden p-4">
   

    @if(country) {

    <div class="flex justify-center gap-4 bg-slate-300 p-5 w-[90%] h-[10rem]">

        <div>
            <button [routerLink]="['/']" routerLinkActive="router-link-active"
                class="bg-slate-200 px-3 py-1 rounded-md shadow cursor-pointer hover:bg-slate-300 hover:shadow-2xl">
                <i class="bi bi-arrow-left"></i> Back</button>
        </div>

        <div class="flex-1 justify-center">
            <h1 class="text-center font-thin text-4xl md:text-6xl">{{country[0].name.common}}</h1>
            <h1 class=" font-thin text-xl text-center"> {{country[0].altSpellings[3]}}</h1>
            <!-- func to loop tp get all capitals -->
            <h1 class=" font-thin text-center text-xl"> {{country[0].capital}} </h1>
        </div>

        <div class="flex w-[5%] h-[65%] ">
            <img [src]="country[0].coatOfArms.png" class=" " alt="coat of arms">

        </div>

    </div>

    <div class="flex mx-10 gap-10 mt-10">
        <div class="map w-[35%] h-fit shadow">
            <img [src]="country[0].flags.png" class="w-full rounded-2xl h-[80%] object-cover" alt=" country map">
        </div>

        <div class="flex flex-col">
            <h1 class=" font-bold text-4xl text-center"> {{country[0].region}}</h1>
            <h1 class=" font-thin text-xl "> Timezones : {{country[0].timezones}}</h1>
            <h1 class=" font-thin text-xl "> Borders : {{country[0].borders}}</h1>
            <h1 class=" font-thin text-xl ">Independent : {{country[0].independent}}</h1>
            <h1 class=" font-thin text-xl ">UN Member : {{country[0].unMember}}</h1>
            <h1 class=" font-thin text-xl "> Population : {{country[0].population}}</h1>
            <h1 class=" font-thin text-xl "> Languages : {{country[0].languages}}</h1>
        </div>
    </div>

    }
</div>